<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Login</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body class="flex flex-col items-center justify-center h-screen bg-gradient-to-r from-blue-700 to-gray-900 m-0">
    <div class="bg-white p-8 rounded-lg shadow-lg text-center w-96">
      <h2 class="text-2xl font-semibold mb-4">NEW PASSWORD</h2>

      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div class="flash-messages">
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
      
      <!-- Form starts here -->
      <form action="{{ url_for('change_password_view') }}" method="POST">
        <input type="hidden" name="token" value="{{ request.args.get('token') }}">
        <!-- Admin Username Input -->
        <input type="password" placeholder="password" id="password" name="password" required class="w-full p-2 mb-4 border border-gray-300 rounded" />
        
        <!-- Submit Button -->
        <button type="submit" class="w-full p-2 bg-blue-700 text-white rounded hover:bg-gray-900">Submit</button>
      </form>
    </div>
  </body>
</html>
